@use"../../assets/styles/mixin" as mixin;

.discussion {
    width: 80%;
    margin: 0 auto;

    @include mixin.intxs {
        width: 90%;
    }

    @include mixin.intxxs {
        width: 95%;

    }

    section {
        .date {
            @include mixin.intxs {
                font-size: 0.7rem;
            }

            @include mixin.intxxs {
                font-size: 0.6rem;
            }

        }

        img {
            width: clamp(5vh, 8vh, 10vh);
            height: clamp(5vh, 8vh, 10vh);
            border-radius: 50%;
        }

        article {

            i {
                cursor: pointer;
                transition: .3s all;
                font-size: 1.2rem;

                &:hover {
                    transform: scale(1.2);
                }
            }

            .no {
                color: var(--red)
            }

            .ok {
                color: var(--blue)
            }

            .quote {
                padding: clamp(2px, 7px, 10px);
                width: clamp(60vw, 70vw, 80vw);
                border-radius: clamp(10px, 20px, 25px);
                border: 2px solid black
            }

            .modify {
                width: clamp(60vw, 70vw, 80vw);
                padding: clamp(3px, 7px, 10px);
                height: clam(5vh, 10vh, 12vh)
            }
        }
    }
}

.chevron {
    position: fixed;
    bottom: 5%;
    right: 5%;



    i {
        font-size: clamp(1rem, 1.7rem, 2rem);
        color: var(--red);
        transition: .5s all;
        cursor: pointer;

        &:hover {
            transform: scale(1.3);
        }
    }
}

.feedback {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: var(--action);
    border-radius: 5vh 0 5vh 0;
    border: var(--red) 2px solid;
    padding: 1vh 5vh;
    font-weight: 700;

    @include mixin.sm {
        padding: 1vh 3vh;
    }

    @include mixin.xs {
        padding: 1vh 2vh;
    }

    @include mixin.intxs {
        padding: 1vw 1vw;
        text-align: center;
        width: 70%;
    }

    @include mixin.intxs {
        padding: 1vw 1vw;
        text-align: center;
        width: 90%;
    }
}