.form {
    background-color: var(--blue);
    width: 50vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.95;
    padding: 3%;
    border-radius: 10vh 0 10vh 0;
    transition: ease-out 0.3s;
    border: 2px solid var(--red);

    form {
        margin-block: 3%;
        width: 100%;

        .containerLogin {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px var(--primary) inset;
    }

    input {
        background-color: var(--primary);
        padding-block: 2%;
        border-radius: 10vh;
        padding-left: 3%;
        font-size: 1rem;
        font-style: italic;



    }

    label {
        font-size: 1.2rem;
        width: 100%;
        margin: 0 auto;
    }

    .labelLogin {
        width: 50%;
        margin: 0 auto;
    }

    .button {
        margin-block: 5%;
        display: flex;
        margin-top: 50px;
        text-transform: uppercase;
        background-color: var(--action);
        border-radius: 10vh 0 10vh 0;
        font-weight: 800;
        padding: 0.8em 1.5em;
        font-size: 1rem;
        overflow: hidden;
        position: relative;
        transition: all .3s;
        z-index: 0;
        margin: 0 auto;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: var(--red);
            transition: ease-in-out .3s;
            border-radius: 10vh 0 10vh 0;
            z-index: -1;
        }

        &:hover {
            color: var(--primary);
            transform: scale(1.1);

            &:before {
                width: 100%;
            }
        }
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        border-radius: 5vh;
        transition: box-shadow 0.5s ease-in-out;
        width: 4.8em;
        height: 4.8em;
        right: 10%;
        top: 10%;

        &:hover {
            box-shadow: 10px 5px 5px var(--red);
        }

        i {
            font-size: 3rem;
            cursor: pointer;
            transition: .5s ease-in-out;
            color: var(--red);

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .containerLogin {
        width: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 48%;
    }

    .feedbackGood {
        color: var(--txtcolor);
        text-align: center;
        margin-bottom: 2%;
        font-size: 1.2rem;
    }

    .feedbackGood {
        color: var(--text-color);
        text-align: center;
        margin-bottom: 2%;
        font-size: 1.2rem;
        font-weight: 500;
        background-color: var(--action);
        border-radius: 10vh 0 10vh 0;
        border: inset 2px var(--red);
        margin-top: 10px;
    }

    .not {
        width: 100%;
        display: flex;
        align-items: center;

        justify-content: center;

        p {
            font-size: 1.2rem;
            text-align: center;
            margin-right: 2%;
        }

        .button {
            justify-content: start;
            // width: 35%;
            text-align: center;
            margin: 0;

        }
    }

    .forget {
        font-size: 1rem;
        // margin-top: 5%;
        cursor: pointer;
    }
}