.formRegister {
    width: 45%;
    margin: 6% auto;

    .container {
        width: 40%;
    }

}

.newReset {
    margin-block: 5%;
    font-size: clamp(1.2rem, 1.3rem, 2rem);
    ;

    p {
        margin: 1% 0 2% 0
    }
}