@use"../../assets/styles/mixin" as mixin;

.formRegister {
    width: 45%;
    margin: 6% auto;

    @include mixin.intxl {
        width: 80%
    }

    @include mixin.intxs {
        width: 100%
    }

    section {
        display: flex;
        flex-wrap: wrap;


    }


    .container {
        width: 40%;
        margin: 0 auto;

        @include mixin.md-lt {
            width: 80%
        }

        @include mixin.sm-lt {
            width: 85%
        }

        @include mixin.intxs {
            width: 87%
        }

        @include mixin.intxxs {
            width: 90%
        }
    }

}

.rules {
    display: flex;
    margin: 20px auto;
    align-items: center;

    @include mixin.intxs {
        width: 80%
    }


    label {
        font-size: 0.8rem;
        width: 75%;

        @include mixin.intxs {
            width: 80%;
        }

        a {
            color: var(--red);
        }
    }
}

.newReset {
    margin-block: 5%;
    font-size: clamp(1.2rem, 1.3rem, 2rem);
    ;

    p {
        margin: 1% 0 2% 0
    }
}