.login {

    .form {
        width: 33%;
        margin: 0 auto;

        .feedbackGood {
            color: var(--text-color);
            text-align: center;
            margin-block: 25px;
            font-size: 1.2rem;
            font-weight: 500;
            background-color: var(--action);
            border-radius: 10vh 0 10vh 0;
            border: inset 2px var(--red);
        }

        .feedback {
            text-align: center;
            color: var(--red);
            font-weight: 600;
            margin-top: 25px;
        }

    }
}