@use"../../assets/styles/mixin" as mixin;

.login {
    width: 100%;

    .form {
        width: 35%;
        margin: 0 auto;

        @include mixin.md-lt {
            width: 50%
        }

        @include mixin.sm-lt {
            width: 65%
        }

        @include mixin.intxs {
            width: 70%
        }

        @include mixin.intxxs {
            width: 85%
        }



        .forget {
            text-align: center;
            transition: .5s all;
            cursor: pointer;

            &:hover {
                color: var(--red);
            }
        }
    }
}