@use"../../assets/styles/mixin" as mixin;

.log {
    margin-block: 5%;

    .section {
        display: flex;
        justify-content: center;

        a {
            margin-right: 25px;
            font-size: 1.5rem;

            @include mixin.intxs {
                font-size: 1.2rem
            }

            @include mixin.intxxs {
                font-size: 1.1rem
            }

            ;
        }

        i {
            margin-right: 10px;
        }
    }
}