.btn {
  display: flex;
  margin-block: 15px;
  text-transform: uppercase;
  background-color: var(--action);
  border-radius: 10vh 0 10vh 0;
  font-weight: 800;
  padding: 7px 18px;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  transition: all .3s;
  z-index: 0;
  margin: 0 auto;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--red);
    transition: ease-in-out .3s;
    border-radius: 10vh 0 10vh 0;
    z-index: -1;
  }

  &:hover {
    color: var(--primary);
    transform: scale(1.1);

    &:before {
      width: 100%;
    }
  }
}

.active {
  border-bottom: 2px solid var(--red)
}

input {
  padding-block: 2%;
  border-radius: 10vh;
  padding-left: 3%;
  font-size: 1rem;
  font-style: italic;



}

label {
  font-size: 1.2rem;
  width: 100%;
  margin: 0 auto;
}