@use"../../assets/styles/mixin" as mixin;

.line {
    height: 3px;
    width: 30%;
    margin: 1.5em auto;
    background: linear-gradient(to left, #F3EADB, #1AA89E 25%, #1AA89E 75%, #F3EADB);

    @include mixin.intxs {

        width: 50%;
        height: 2px;
    }
}

.lineReverse {
    height: 3px;
    width: 50%;
    margin: 1em auto 0 auto;
    background: linear-gradient(to left, #1AA89E, #F3EADB 40%, #F3EADB 60%, #1AA89E);
}