@use"../../assets/styles/mixin" as mixin;

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--blue);
    border-radius: 5vh 0 5vh 0;
    border: var(--red) solid 2px;
    padding: 10px;
    height: 25vh;
    display: flex;
    align-items: center;
    z-index: 7;

    @include mixin.intxs {
        width: 90%;
    }

    article {
        p {
            padding: 5% 0%;
            font-weight: 500;
        }
    }
}