.container {
    .img {
        overflow: hidden;
        border-radius: 10vh 0 0 0;

        img {
            border-radius: 10vh 0 0 0;
            box-shadow: var(--box-shadow-nav);
            transition: 1s transform;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .title {
        background-color: var(--blue);
        padding: 7%;
        text-align: center;
        font-weight: 600;
        border-radius: 0 0 10vh 0;
        font-size: 1.5rem;
        box-shadow: var(--box-shadow-nav);
    }
}