
.container{
    width: 50%;
    margin: 0 auto;
    .card{
        background-color: var(--blue);
        color:var(--text-color);
        width:80%;
        display: flex;
        align-items: center;
        padding: 2%;
        border-radius: 3vh 0 3vh 0;
        border: solid var(--red) 2px;
        box-shadow: var(--box-shadow);
        justify-content: center;
        margin: 5% auto;
        .img{
            width: 50%;
            height: 80%;
            img{
                width: 100%;
                display: block;
            }
        }
        .content{
            width: 50%;
            padding: 0 3%;
            text-align: center;
            font-size: 1.2em;
        }
    }
}
