.container{
    width: 60%;
    margin: 1% auto;
    
    .img{
        width: 40%;
        height: 100%;
        img{
            border-radius: 10vh 0 0 0;
            height: 26vh;
            border-top: solid 2px var(--red);
            border-left: solid 2px var(--red);
            border-bottom: solid 2px var(--red);
        }
        
    }
    .content{
        width: 60%;
        background-color: var(--blue);
        border-radius: 0 0 10vh 0;
        height: 26vh;
        border-top: solid 2px var(--red);
        border-right: solid 2px var(--red);
        border-bottom: solid 2px var(--red);
        box-shadow: var(--box-shadow);
        h3{
            text-align: center;
            padding-top: 3%;
            text-transform: uppercase;
            font-size: 1.5em;
        }
        p{
            padding: 5%;
            text-align: center ;
        }
    }
}