@use"../assets/styles/mixin" as mixin;

.title {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;

    @include mixin.md-lt {
        font-size: 1.7rem;
    }

    @include mixin.sm-lt {
        font-size: 1.7rem;

    }

    @include mixin.xs {
        font-size: 1.6rem;

    }

    @include mixin.intxs {
        font-size: 1.7rem;

    }

    @include mixin.xxxs {
        font-size: 1.3rem;

    }

    @include mixin.intxxs {
        font-size: 1.2rem;
    }

    @include mixin.smallest {
        font-size: 0.9rem;

    }
}