.forgotPassword {
    width: 33%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;

    input {
        margin-bottom: 15px
    }

    button {
        margin-block: 20px;
    }
}

.newReset {
    margin-block: 5%;
    font-size: clamp(1.2rem, 1.3rem, 2rem);

    p {
        margin: 1% 0 2% 0
    }
}