@use"../../assets/styles/mixin" as mixin;

.forgotPassword {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @include mixin.md-lt {
        width: 50%
    }

    @include mixin.sm-lt {
        width: 65%
    }

    @include mixin.intxs {
        width: 70%
    }

    @include mixin.intxxs {
        width: 85%
    }


    input {
        margin-bottom: 15px
    }

    button {
        margin-block: 20px;
    }
}

.newReset {
    margin-block: 5%;
    font-size: clamp(1.2rem, 1.3rem, 2rem);

    p {
        margin: 1% 0 2% 0
    }
}