@use"../../assets/styles/mixin" as mixin;


.pres {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% auto 3% auto;

    .presAsso {
        display: flex;
        flex-direction: column;
        width: 45%;

        @include mixin.md-lt {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 2%;
        }

        h1 {
            text-align: center;
            font-size: 3rem;
            font-weight: 400;
            color: var(--text-color);

            @include mixin.md-lt {
                font-size: 2.5rem;
            }

            @include mixin.intxs {
                font-size: 2.1rem;
            }

            @include mixin.xxxs {
                font-size: 1.9rem;
            }

            @include mixin.intxs {
                font-size: 1.6rem;
            }

            @include mixin.smallest {
                font-size: 1.5rem;
            }
        }

        p {
            align-self: center;
            width: 75%;
            margin-bottom: 15px;

            @include mixin.md-lt {
                width: 100%;
            }
        }
    }

    .imgAsso {
        width: 50%;
        display: flex;
        justify-content: center;

        @include mixin.md-lt {
            display: none;
        }

        img {
            width: 50%;
        }
    }



    @include mixin.md-lt {



        width: 80%;
        display: flex;
        align-items: center;
        padding: 2%;
    }

    @include mixin.xs {
        border-radius: 5vh 0 5vh 0;

    }

    @include mixin.intxs {
        border-radius: 5vh 0 5vh 0;
        width: 90%;

    }


    img {
        width: 30%;

        @include mixin.xs {
            display: none
        }

        @include mixin.intxs {
            display: none
        }
    }

    p {
        width: 50%;
        font-size: 1.3em;
        text-align: center;

        @include mixin.xl {
            font-size: 1.1rem;
        }

        @include mixin.lg-lt {
            font-size: 1rem;

        }

        @include mixin.md-lt {
            width: 60%;
            font-size: 1.2rem;
            margin: 0 auto;

        }

        @include mixin.sm-lt {
            width: 60%;
            font-size: 1rem;
            margin: 2% auto;

        }

        @include mixin.xs {
            width: 60%;
            font-size: 0.8rem;
            text-align: center;
            margin: 0 auto;
            width: 90%;

        }

        @include mixin.intxs {
            font-size: 0.8rem;
            width: 100%;
            margin-bottom: 10px;

        }
    }
}

.flex {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5vh;

    @include mixin.md-lt {
        flex-wrap: wrap;
    }

    @include mixin.intxs {
        margin-bottom: 5vh;
    }

    .container {
        width: 50%;
        margin: 0 auto;
        flex-direction: column;
        display: flex;


        @include mixin.md-lt {
            width: 80%;
        }

        @include mixin.intxs {
            width: 90%;

        }

        @include mixin.intxxs {
            width: 95%;

        }

    }
}