.contact{
    .link{
        color:var(--text-color);
        padding :2%;
        font-size: 1.2rem;
        text-decoration: none;
    }
    p{
        padding: 2%;
    }
    i{
        color: var(--text-color);
    }
}