.contact{
    .link{
        color:var(--text-color);
        padding :12px;
        font-size: 1.2rem;
        text-decoration: none;
    }
    p{
        padding-right: 12px;
    }
    i{
        color: var(--text-color);
        font-size: 1.5rem;
    }
}