footer {
    background-color: var(--blue);
    color: var(--text-color);
    padding: 2%;
    border-radius: 10vh 0 0 0;
    .rights{
        font-style: italic;
        font-weight: 200;
    }
    .mention{
        font-style: italic;
        font-size: 15px;
        font-weight: 300;
        a{
            color: var(--text-color);
            text-decoration: none;
            padding:0 0.5%;
        }
    }
    

}