.formMessage {
    flex-wrap: wrap;
    justify-content: center;

    textarea {
        width: clamp(50%, 75%, 95%);
        min-width: 310px;
        margin-bottom: 15px;
        border-radius: 50px;
        padding: 5px;
        font-family: var(--font-family);
        text-align: center;
    }
}

.feed {
    width: clamp(25%, 33%, 50%);
    margin: 0 auto;
}