@use"../../assets/styles/mixin" as mixin;

.profile {


    form {

        .container {
            display: flex;
            justify-content: space-around;
            width: 100%;

            .content {
                display: flex;
                flex-direction: column;
                width: 45%;
                align-items: center;
                padding: 0;

                label {
                    font-size: 1.5rem;
                }

                input:-webkit-autofill,
                input:-webkit-autofill:hover,
                input:-webkit-autofill:focus,
                input:-webkit-autofill:active {
                    -webkit-box-shadow: 0 0 0px 1000px var(--primary) inset;
                }

                input {
                    padding-block: 2%;
                    border-radius: 10vh;
                    width: 100%;
                }
            }

            .contentImg {
                width: 18vh;
                height: 18vh;
                border-radius: 100%;

                @include mixin.xxxs {
                    width: 15vh;
                    height: 15vh;
                }

                @include mixin.intxxs {
                    width: 13vh;
                    height: 13vh;
                    align-self: center;
                }



                .picture {
                    border-radius: 100%;
                    background-color: var(--primary);
                    display: flex;
                    margin: 0;
                    padding: 0;
                    border: var(--red) 2px solid;
                    width: 100%;
                    height: 100%;

                }



            }
        }


        label {
            font-size: 1.5rem;

            @include mixin.intxs {
                font-size: 1.2rem;
            }

            @include mixin.intxxs {
                font-size: 1rem;
            }
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        }

        input {

            padding-block: 1%;
            padding-left: 2%;
            border-radius: 10vh;
            font-size: 1.3rem;
            font-style: italic;
            color: #000;

            @include mixin.intxs {
                font-size: 1.2rem;
            }

            @include mixin.intxxs {
                font-size: 1rem;
            }
        }


        p {
            text-align: center;
            cursor: pointer;

            a {
                transition: all .3s;

                &:hover {
                    color: var(--red);
                }

            }

        }


        ;
    }

    .containerInput {
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 100%;

        .inputFile {
            width: 100%;
            font-size: 1rem;
            border: black inset 2px;
        }

        input[type=file]::file-selector-button {
            text-transform: uppercase;
            background-color: var(--action);
            border-radius: 10vh 0 10vh 0;
            font-weight: 800;
            padding: 0.2em 1em;
            font-size: 0.7rem;
            overflow: hidden;
            position: relative;
            transition: all .3s;
            z-index: 0;
            margin-right: 5%;
            cursor: pointer;

            &:hover {
                color: var(--primary);
                transform: scale(1.05);
                background-color: var(--red);

            }
        }
    }

}